body {
    background: url('../imagens/fundo.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

.card {
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.8); 
}

.navbar {
    background-color: rgba(255, 255, 255, 0.9); 
}
